{% extends "base.html" %}
{% load static %}

{% block page_title %}
Home
{% endblock page_title %}


{% block css %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}" type="text/css">
{% endblock css %}


{% block content %}
<div class="main_top">
    <span>내 등록된 식자재</span>
    <a href="{% url 'foods:list' %}"><i class="fas fa-plus-circle food_more"></i></a>
</div>
<div class="big_food_list">
    <div class="food_list">
        {% for food in foods %}
        <a href="{% url 'foods:food_detail' food.pk %}">
            <div class="food_card">
                <img class="food_img" src="{{food.photo.url}}" alt="img">
                <span class="food_title">{{food}}</span>
                <span>잔량 : {{food.quantity}}개</span>
                <span>유통기한 : {{food.count_date}}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block script %}
{% endblock script %}