{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}| PLZEAT</title>

    <!-- CSS link -->
    <link rel="stylesheet" href="{% static '/core/css/base.css' %}" type="text/css">
    {% block css %}{% endblock css %}

    <!-- Font link -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>

<body>
    {% include "partials/messages.html" %}
    {% block header %}
    <header>
        {% include "partials/header.html" %}
        {% include "partials/nav.html" %}
        {% include "partials/hidden_menu.html" %}
    </header>
    {% endblock header %}
    <div class="wrapper">
        {% block content %}{% endblock content %}
    </div>
    {% block bottom_menu %}{% include "partials/bottom_menu.html"%}{% endblock bottom_menu %}

    <script src="{% static 'core/js/bottom_menu.js' %}"></script>
    <script src="{% static 'core/js/menu.js' %}"></script>
    {% block script %}{% endblock script %}

</body>

</html>