{% extends "base.html" %}
{% load static %}

{% block page_title %}
식자재 리스트
{% endblock page_title %}

{% block css %}
<link rel="stylesheet" href="{% static 'foods/css/food_list.css' %}" type="text/css">
{% endblock css %}


{% block content %}

<div class="page_food_list">
    <div class="food_list">
        {% for food in foods %}
        <a href="{% url 'foods:food_detail' food.pk %}">
            <div class="food_card">
                <div class="card_xbox">
                    <a href="{% url 'foods:delete' food.pk %}"><i class="fas fa-minus-circle"></i></a>
                </div>
                <img class="food_img" src="{{food.photo.url}}" alt="img">
                <span>{{food}}</span>
                <span>유통기한 : {{food.count_date}}</span>
                <span>잔량 : {{food.quantity}}개</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% include "partials/paginator.html" %}

{% endblock content %}