{% extends "base.html" %}
{% load static %}

{% block page_title %}
Login
{% endblock page_title %}


{% block css %}
<link rel="stylesheet" href="{% static '/users/css/login.css' %}" type="text/css">
{% endblock css %}


{% block header %}{% endblock header %}

{% block content %}
<form class="login_form" method="POST" action="{% url 'core:login' %}">
    {% csrf_token %}

    {% if form.none_field_errors %}
    {% for error in none_field_errors  %}
    <span class="field_error">{{error}}</span>
    {% endfor %}
    {% endif %}
    <a href="{% url 'users:kakao-login' %}">
        <div class="social_login">
            <i class="fas fa-comment mr-1"></i>
            <span>카카오 계정으로 로그인</span>
        </div>
    </a>
    <div class="or_line">
        <hr>
        <span>or</span>
        <hr>
    </div>
    {% for field in form  %}
    <div class="input {% if field.errors %}has_error{% endif %}">
        {{field}}
        {% if field.errors %}
        {% for error in field.errors  %}
        <span class="error">{{error}}</span>
        {% endfor %}
        {% endif %}
    </div>

    {% endfor %}
    <button class="login_btn">로그인</button>
    <hr class="login_hr">
    <div class="go_to_signup">
        <span class="login_ask_have">계정이 없으세요?</span>
        <a href="{% url 'users:signup' %}"><span class="signup_link">회원 가입</span></a>
    </div>

</form>
{% endblock content %}
{% block bottom_menu %}{% endblock bottom_menu %}