{% extends "base.html" %}
{% load static %}

{% block page_title %}
Sign Up
{% endblock page_title %}

{% block css %}
<link rel="stylesheet" href="{% static '/users/css/signup.css' %}" type="text/css">
{% endblock css %}

{% block header %}{% endblock header %}

{% block content %}
<form method="POST" action="{% url 'users:signup' %}">
    {% csrf_token %}
    {{form.as_p}}
    <button>Sign Up</button>
</form>
<br><br><br>
{% endblock content %}
{% block bottom_menu %}{% endblock bottom_menu %}