.recipe_list_box{
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

.recipe_list_box > h3{
    text-align: center;
}

.recipe_img {
    padding: 5px;
    display: block;
    margin: 0 auto; 

    width: 200px;
    height: 200px;
}

