ul{
    list-style: none;
    padding-left: 1.5rem;
}

li{
    margin-bottom: 0.3rem;
}

li > i {
    margin-right: 0.4rem;
}

.content_area {
    height: 100%;
    overflow-y: scroll;
}

/* 본문에 적용되는 폰트 */
@font-face {
    font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NIXGONL-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 레시피 음식 사진 이미지 */
.food_img_area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.7rem 0;
}
.recipe_img {
    width: 200px;
    height: 200px;
    /* border-radius: 70%; */
}

/* 가운데정렬 하기위해 한번 더 밖에 씌운 박스 */
.big_name_box{
    display: flex;
    justify-content: center;
}
/* 음식이름,부이름,하트 묶는박스 */
.name_box{
    display:inline-block;
    margin: 0 auto;
}

/* 음식 이름 */
.food_subname {
    /* font-family: 'NIXGONM-Vb'; */
    font-size: 20px;
    color: #B7B7B7;
    margin-right: 0px;
    padding-right: 0px;
    margin:0;
}

.like_img {
    display: inline-block;
    margin-left: 0.5rem;
}

.like_img > img {
    width: 20px;
    height: 20px;
    text-align: right; 
}

.food_name {
    /* font-family: 'NIXGONM-Vb'; */
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 1rem;
    display: inline-block;
    font-weight: bold;
}

/* 구분선 */
.recipe_hr{
    border-color: #ffbb75;
    border-width: thin;
    width: 80%;
}

/* 레시피 정보 박스 */
.recipe_infobox {
    display: flex;
    justify-content: space-around;    
    width: 80%;
    margin: 2rem auto;
}

/* 레시피 정보 박스 (양) */
.recipe_quantity_box {
    display: inline-block;
    text-align: center;
}

.quantity_img {
    width: 20px;
    height: 20px;
}

.quantity_text {
    font-family: 'NIXGONM-Vb';
    font-size: 18px;
}

/* 레시피 정보 박스 (요리 시간) */
.recipe_time_box {
    display: inline-block;
    text-align: center;
}

.time_img {
    width: 20px;
    height: 20px;
}

.time_text {
    font-family: 'NIXGONM-Vb';
    font-size: 18px;
}

/* 레시피 정보 박스 (난이도) */
.recipe_level_box {
    display: inline-block;
    text-align: center;
}

.level_img {
    height: 20px;
}

.level_text {
    font-family: 'NIXGONM-Vb';
    font-size: 18px;
}

/* '들어가는 재료' 타이틀 폰트 지정 */
.food_ingredient_title {
    /* font-family: 'NIXGONM-Vb'; */
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
}

/* '만드는 법' 타이틀 폰트 지정 */
.recipe_detail_title {
    /* font-family: 'NIXGONM-Vb'; */
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
}

/* '만드는 법' 내용 폰트 지정 */
.recipe_detail_explain {
    /* font-family: 'NIXGONL-Vb'; */
    font-size: 17px;
    margin-right: 10px;
    margin-left: 1.5rem;
    line-height: 1.5;
}

/* 데스크톱 PC 반응형 디자인 */
@media screen and (min-width:500px) {
    
    /* 메인 레시피 이미지 디자인 */
    .recipe_img {
        width: 400px;
        height: 300px;
        /* border-radius: 70%; */
    }

    /* 레시피 정보 박스 */
    .recipe_infobox {
        margin: 2rem auto;
    }

    .quantity_img {
        width: 30px;
        height: 40px;
    }

    .time_img {
        width: 40px;
        height: 40px;
    }

    .level_img {
        height: 40px;
    }

    /* 레시피 내용 박스 */
    .food_content_detail {
        margin-left: 60px;
        width: 80%;
    }
}